@keyframes jisim {
  0% {
    color: #ed8578;
  }

  25% {
    color: yellow;
  }

  50% {
    color: #58ccff;
  }

  75% {
    color: yellow;
  }

  100% {
    color: #ed8578;
  }
}
